<%- include('partials/header') %>

<div class="cart-container">

  <% if (!cart || cart.length === 0) { %>

   <div class="empty-cart">
  
  <div class="empty-icon">🛒</div>

  <h2>Your Cart is Empty</h2>
  <p>Start adding tyres to your cart and enjoy smooth rides 🚗</p>

  <a href="/shop" class="shop-btn">Browse Tyres</a>

</div>

  <% } else { %>

    <div class="cart-box">
      <h2>Your Cart</h2>

      <% cart.forEach(item => { %>
        <div class="cart-item">
          <img src="/images/tyre.png">

          <div class="cart-info">
            <h3><%= item.name %></h3>
            <p>₹<%= item.price %></p>
          </div>

          <div class="cart-actions">
            <span>Qty: <%= item.quantity %></span>
          </div>
        </div>
      <% }) %>

      <button class="checkout-btn">Proceed to Checkout</button>
    </div>

  <% } %>

</div>

<%- include('partials/footer') %>